.container{
    justify-content: center;
    margin: 0px 10% 0px 10%;
}
.header{
    border-bottom: 1px solid #eee8e842;
}
.card{
    width: 40%;
    margin-top: 30px;
    margin-left: 42%;
    border-bottom: 1px solid #eee8e842;
}
li h1, li p{
    text-align: left;
}