.container{
    justify-content: center;
    margin: 0px 10% 0px 10%;
}
.header{
    position: fixed;
    border-bottom: 1px solid #eee8e842;
    padding-bottom: 10px;
}
.card{
    width: 40%;
    margin-top: 30px;
    margin-left: 35%;
    border-bottom: 1px solid #eee8e842;
}
li h1, li p{
    text-align: left;
    padding-bottom: 10px;
}